<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>
       HikedThis
    </title>
</head>
<body>
    {{{body}}}
    <footer>
      <h5>Credits</h5>
      <ul>
        <h6>Fonts</h6>
        <li><a href="https://fonts.google.com/specimen/Oxygen#license" target="_blank">Oxygen</a> (<a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL" target="_blank">Open Fonts License</a>)</li>
        <li><a href="https://fonts.google.com/specimen/Open+Sans#license" target="_blank">Open Sans</a> (<a href="https://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License version 2.0</a>)</li>
        <h6>Icons</h6>
        <li><a href="https://material.io/resources/icons/?style=baseline" target="_blank">Material Icons</a> (<a href="https://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License version 2.0</a>)</li>
      </ul>
    </footer>
</body>
</html>
